{%- set external_urls = {
  'github': 'https://github.com/Qiskit-Partners/qiskit-ionq',
  'docs': 'https://qiskit.org/documentation/',
  'twitter': 'https://twitter.com/qiskit',
  'events': 'https://qiskit.org/events',
  'textbook': 'https://qiskit.org/textbook',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'started': 'https://qiskit.org/',
  'partners': 'https://qiskit.org/documentation/partners/',
  'tutorials': 'https://qiskit.org/documentation/tutorials.html',
  'youtube': 'https://www.youtube.com/qiskit',
}
-%}
